doctype html
html(lang="en")
  head
    title= "Food"
    link(rel="stylesheet", href="./styles.css", type="text/css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fugaz+One&family=Grape+Nuts&family=Pangolin&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/adf65eea78.js' crossorigin='anonymous')
  body  
    nav
      include components/nav.pug
    section(id="submit_section")
      div(id="form-section")
        div
          form
            div(id="send-info")
              label(for="food") Favorite food or dish
              input(type="text", id="food", name="food")
              span.tooltiptext 
              input(type="submit", id="submit", value="Yummy")
              i.fa-solid.fa-utensils
      article 
        div(id="contentForFood")
          img(alt="welcomeimg", id="imge")
          p.welcomigmsg DELIGHTNESS IS ONE CLICK AWAY 
    include components/footer
script(src="./hamburgerMenu.js")     
script.
  window.onload = randomp;
  var pic_rand = ["./images/merengue.jpg", "./images/pasta.jpg", "./images/smoothie.jpg"];
  function randomp(){
    var randomNum = Math.floor(Math.random() * pic_rand.length);
    document.getElementById("imge").src = pic_rand[randomNum];
  }
  let theIdArray = [], //Array of the food ids
      imagesArray = [], //Array of the images sources                
      footerSection = document.querySelector('.footer-section'),
      foodInput = document.querySelector('#food'),// Get the user input 
      contentForFood=document.querySelector('#contentForFood'), // This is where all the food information will be displayed
      searchFood = document.querySelector('#submit'),
      adittionalInfo=document.querySelector('.adittionalInfo'),
      idAndImages = `https://api.spoonacular.com/recipes/complexSearch?query=${foodInput.value}&apiKey=#{apiKey}`,
      summary = 'https://api.spoonacular.com/recipes/654926/information?apiKey=#{apiKey}'


      /* on click the request starts searching food  */
      searchFood.addEventListener('click', function(e){
        e.preventDefault()
        if(foodInput.value.length == 0){
          let tooltipEmptyField =  document.querySelector(".tooltiptext") 
          tooltipEmptyField.innerHTML = "You didnt enter anything"
          tooltipEmptyField.style.visibility = "visible"
          
          setTimeout(function(){
            tooltipEmptyField.style.visibility = "hidden"
          }, 3000);
          return
        }
        else if (foodInput.value.length > 0){
          //- contentForFood.textContent = ''
          theIdArray=[]
          imagesArray=[]
           /* Here we start the search */
          fetch(`https://api.spoonacular.com/recipes/complexSearch?query=${foodInput.value}&apiKey=#{apiKey}`)
          .then(response => {
            return response.json()
            })
          .then(response =>{
            if(response.results.length == 0){
              let tooltipEmptyField =  document.querySelector(".tooltiptext") 
              tooltipEmptyField.innerHTML = "No such food information in the database"
              tooltipEmptyField.style.visibility = "visible"
              setTimeout(function(){
                tooltipEmptyField.style.visibility = "hidden"
                randomp()
              }, 3000);
              /* If response is not successful stops the search */
              return
            }
            contentForFood.textContent = ''
            response.results.forEach(food=>{
               /* Here we get the ids of all the results and put them on an array */
              theIdArray.push(food.id)
              })
              /* Loop through id on every request */
            for(var i = 0; i < theIdArray.length; i++){
              fetch(`https://api.spoonacular.com/recipes/${theIdArray[i]}/information?apiKey=#{apiKey}`)
              .then(respo => {
                return respo.json()
                })
              .then(respon => {
                  let preparation = respon.instructions.replace(/<ol>|<li>|<\/li>|<\/ol>/g, '');
                 
                  let htmlStructure = `<div id="mainfoodcontainer">
                      <div class="foodContentboxTittle">
                        <div class="title">${respon.title}</div>
                      </div>
                      <div class="adittionalContent">
                        <h4>Ingredients: </h4>
                        ${respon.extendedIngredients.map((ingredient,index)=>`<p>${index+1} ${ingredient.name}</p>`).join("")}
                        <span class="food-time">Ready in: " + ${respon.readyInMinutes} + " minutes</span>
                      </div>
                      <div class="foodContent">
                        <img class="recipeimg" src=${respon.image}>${preparation}
                      </div>
                                      </div>` 

                  contentForFood.innerHTML += htmlStructure

                })
            }
            })
        }
        })
