doctype html
html(lang="en")
  head
    title= "Food"
    link(rel="stylesheet", href="./styles.css", type="text/css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fugaz+One&family=Grape+Nuts&family=Pangolin&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/adf65eea78.js' crossorigin='anonymous')
  body  
    header
      nav
        div(id="imagen")
        ul(id="main-ul")
          li.
            #[a(href="#") Food fun facts]
          li.
            #[a(href="#") Cooking techniques]
    section
      div(id="form-section")
        div
          form
            div(id="send-info")
              label(for="food") Enter your your favourite food or dish
              input(type="text", id="food", name="food") 
              input(type="submit", id="submit", value="Yummy!")
              i.fa-solid.fa-utensils
      article 
        div(id="contentForFood")
    footer
      div(class="footer-section")
script.
  let theIdArray = [], //Array of the food ids
      imagesArray = [], //Array of the images sources                
      footerSection = document.querySelector('.footer-section'),
      foodInput = document.querySelector('#food'),// Get the user input 
      contentForFood=document.querySelector('#contentForFood'), // This is where all the food information will be displayed
      searchFood = document.querySelector('#submit'),
      adittionalInfo=document.querySelector('.adittionalInfo'),
      idAndImages = `https://api.spoonacular.com/recipes/complexSearch?query=${foodInput.value}&apiKey=1dbbddeac15b47218269c8f28473b7bd`,
      summary = 'https://api.spoonacular.com/recipes/654926/information?apiKey=1dbbddeac15b47218269c8f28473b7bd'


      /* on click the request starts searching food  */
      searchFood.addEventListener('click', function(e){
        e.preventDefault()
        if(foodInput.value.length == 0){
          alert("Sorry you haven't entered anything")
          console.log("El valor del input es: ", foodInput.value, " y la extension es: ", foodInput.value.length)
          contentForFood.textContent = ''
          return
        }
        else if (foodInput.value.length > 0){
          contentForFood.textContent = ''
          theIdArray=[]
          imagesArray=[]
           /* Here we start the search */
          fetch(`https://api.spoonacular.com/recipes/complexSearch?query=${foodInput.value}&apiKey=1dbbddeac15b47218269c8f28473b7bd`)
          .then(response => {
            return response.json()
            })
          .then(response =>{
            console.log("Esto es lo que devuelve la respuesta del foodInfo: ", response.results , " y la extension de la respuesta del foodInfo: ", response.results.length);
            if(response.results.length == 0){
              alert("That food is not in the database")
              /* If response is not successful stops the search */
              return
            }
            response.results.forEach(food=>{
               /* Here we get the ids of all the results and put them on an array */
              theIdArray.push(food.id)
              })
              /* Loop through id on every request */
            for(var i = 0; i < theIdArray.length; i++){
              fetch(`https://api.spoonacular.com/recipes/${theIdArray[i]}/information?apiKey=1dbbddeac15b47218269c8f28473b7bd`)
              .then(respo => {
                return respo.json()
                })
              .then(respon => {
                       /* We create a div container for each food description along with its image */
                       let foodContentBox=document.createElement('div')
                       let adittionalContentBox=document.createElement('div')
                       contentForFood.append(foodContentBox)
                       contentForFood.append(adittionalContentBox)
                       
                       /* each food div is created */
                       let div_food_box = document.createElement('div')
                       
                       /* each div for food title is created */
                       let food_title_box = document.createElement('div')
                       
                       /* extracting the food title */
                       let food_title = document.createElement('h4').textContent = respon.title
                      
                       /* adding styles to the div for food and for the title too */
                       food_title_box.classList.add('title')
                       div_food_box.classList.add('foodContent')
                       /* appending title text to the div title  */
                       food_title_box.append(food_title)
                       foodContentBox.append(food_title_box)
                       contentForFood.append(div_food_box)
                       
                       
                       /* adding the image */
                       div_food_box.innerHTML = `<img src=${respon.image}>`
                       div_food_box.append(respon.instructions)
                      
                      foodContentBox.classList.add('foodContentboxTittle')
                      
                      
                      adittionalContentBox.classList.add('adittionalContent')
                       
                       let headerIngredient=document.createElement('h4') 
                       headerIngredient.textContent="Ingredients: "
                       
                       console.log(respon.instructions)
                       adittionalContentBox.append(headerIngredient)
                      for(var ingredient = 0;ingredient < respon.extendedIngredients.length; ingredient++){
                        let ingredientItem=document.createElement('p') 
                        ingredientItem.textContent=[ingredient+1] + ": " + respon.extendedIngredients[ingredient].name  
                        adittionalContentBox.append(ingredientItem)   
                       }  
                      
                       
                       let foodTime=document.createElement('span')  
                       foodTime.style.fontWeight='700'
                       foodTime.style.margin = 'auto' 
                       foodTime.textContent= "Ready in: " + respon.readyInMinutes + " minutes"  
                       adittionalContentBox.append(foodTime)  
                })
            }
            })
        }
        })
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
