doctype html
html(lang="en")
  head
    title= "Food"
    link(rel="stylesheet", href="./styles.css", type="text/css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fugaz+One&family=Grape+Nuts&family=Pangolin&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/adf65eea78.js' crossorigin='anonymous')
  body  
    header
      nav
        div(id="imagen")
        ul(id="main-ul")
          li Items 1 
            ul(class="sub-menu")
              li.
                #[a(href="#") item 1]
              li.
                #[a(href="#") item 1]
          li Items 2
            ul(class="sub-menu")
              li.
                #[a(href="#") item 2]
              li. 
                #[a(href="#") item 2]
    section
      div(id="form-section")
        div
          form
            div(id="send-info")
              label(for="food") Enter your your favourite food or cuisine
              input(type="text", id="food", name="food") 
              input(type="submit", id="submit", value="Yummy!")
              i.fa-solid.fa-utensils
      article 
        div(id="main-content")
    footer
      div(class="footer-section")
script.
  var theIdArray = [],
      imagesArray = []                                                                                                                                        
      let footerSection = document.querySelector('.footer-section'),
      foodInfo = document.querySelector('#food'),
      mainContent=document.querySelector('#main-content'),
      inputSubmit = document.querySelector('#submit'),
      adittionalInfo=document.querySelector('.adittionalInfo'),
      idAndImages = 'https://api.spoonacular.com/recipes/complexSearch?query=pasta&apiKey=1dbbddeac15b47218269c8f28473b7bd',
      summary = 'https://api.spoonacular.com/recipes/654926/information?apiKey=4c17e459cfec4721a0f4ac09605d1daf'
      inputSubmit.addEventListener('click', function(e){
        e.preventDefault()
        if(foodInfo.value.length == 0){
          alert("Sorry You vaven't entered anything")
        }
        else if (foodInfo.value.length > 0){
          mainContent.textContent = ''
          theIdArray=[]
          imagesArray=[]
          fetch(`https://api.spoonacular.com/recipes/complexSearch?query=${foodInfo.value}&apiKey=4c17e459cfec4721a0f4ac09605d1daf`)
          .then(response => {
            return response.json()
            })
          .then(response =>{
            /* Here we get the id of all the results and put them on an array */
            if(response.results.length == 0){
              alert("That food is not in the database")
              return
            }
            response.results.forEach(food=>{
              theIdArray.push(food.id)
              })
              /* Loop for to add the id on every request */
            for(var i = 0; i < theIdArray.length; i++){
              fetch(`https://api.spoonacular.com/recipes/${theIdArray[i]}/information?apiKey=4c17e459cfec4721a0f4ac09605d1daf`)
              .then(respo => {
                return respo.json()
                })
              .then(respon => {
                       /* We create a div container for each food description along with its image */
                       let primeraCaja=document.createElement('div')
                       let segundaCaja=document.createElement('div')
                       mainContent.append(primeraCaja)
                       mainContent.append(segundaCaja)
                       
                       /* each food div is created */
                       let div_food_box = document.createElement('div')
                       
                       /* each div for food title is created */
                       let food_title_box = document.createElement('div')
                       
                       /* extracting the food title */
                       let food_title = document.createElement('h4').textContent = respon.title
                      
                       /* adding styles to the div for food and for the title too */
                       food_title_box.classList.add('title')
                       div_food_box.classList.add('foodContent')
                       
                       /* appending title text to the div doe title  */
                       food_title_box.append(food_title)
                       primeraCaja.append(food_title_box)
                       primeraCaja.append(div_food_box)
                       
                       
                       /* adding the image */
                       div_food_box.innerHTML = `<img src=${respon.image}>`
                       div_food_box.append(respon.instructions)
                      
                      primeraCaja.classList.add('foodContent')
                      segundaCaja.classList.add('adittionalContent')
                       
                       let headerIngredient=document.createElement('h4') 
                       headerIngredient.textContent="Ingredientes: "
                       
                       segundaCaja.append(headerIngredient)
                      for(var ingredient = 0;ingredient < respon.extendedIngredients.length; ingredient++){
                        let ingredientItem=document.createElement('p') 
                        ingredientItem.textContent=[ingredient+1] + ": " + respon.extendedIngredients[ingredient].name  
                        segundaCaja.append(ingredientItem)   
                       }  
                      
                       
                       let foodTime=document.createElement('span')  
                       foodTime.style.fontWeight='700'
                       foodTime.textContent= "Ready in: " + respon.readyInMinutes  
                       segundaCaja.append(foodTime)  
                })
            }
            })
        }
        })
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        inputSubmit.addEventListener('click', function(e){
          e.preventDefault()
          /* txtlayout.style.display='none' */
          fetch(`https://api.spoonacular.com/recipes/654926/information?apiKey=4c17e459cfec4721a0f4ac09605d1daf`)
          .then(respo => {
            return respo.json()
            })
          .then(respon => {
             /* We create a div container for each food description along with its image */
             let primeraCaja=document.createElement('div')
             let segundaCaja=document.createElement('div')
             mainContent.append(primeraCaja)
             mainContent.append(segundaCaja)
             
             /* each food div is created */
             let div_food_box = document.createElement('div')
             
             /* each div for food title is created */
             let food_title_box = document.createElement('div')
             
             /* extracting the food title */
             let food_title = document.createElement('h4').textContent = respon.title
            
             /* adding styles to the div for food and for the title too */
             food_title_box.classList.add('title')
             div_food_box.classList.add('foodContent')
             
             /* appending title text to the div doe title  */
             food_title_box.append(food_title)
             primeraCaja.append(food_title_box)
             primeraCaja.append(div_food_box)
             
             
             /* adding the image */
             div_food_box.innerHTML = `<img src=${respon.image}>`
             div_food_box.append(respon.instructions)
            
            primeraCaja.classList.add('foodContent')
            segundaCaja.classList.add('adittionalContent')
             
             let headerIngredient=document.createElement('h4') 
             headerIngredient.textContent="Ingredientes: "
             segundaCaja.append(headerIngredient)
            for(var ingredient = 0;ingredient < respon.extendedIngredients.length; ingredient++){
              let ingredientItem=document.createElement('p') 
              ingredientItem.textContent=[ingredient+1] + ": " + respon.extendedIngredients[ingredient].name  
              segundaCaja.append(ingredientItem)   
             }  
            
             
             let foodTime=document.createElement('span')  
             foodTime.style.fontWeight='700'
             foodTime.textContent= "Ready in: " + respon.readyInMinutes  
             segundaCaja.append(foodTime)  
           }) 
           
        })
